
#cardImage {
    height: 500px;
    display: grid;
    z-index: -1;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
}

#cardFront {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
    z-index: 1;
    align-items: center;
}

#cardBack {
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}