* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 600px;   
    border-style: groove;
    border-color: black black black black;
    border-width:1px;
}
div.content {
    line-height: 1.5;
    margin: 10px;

}

.title, .subtitle{
    text-align: center;
    letter-spacing: 3px;

}

.subtitle {
    color: #006EB6;
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: white white rgb(201, 201, 201) white;
    border-width: 1px;

}

.list_header {
    font-style: italic;
    font-size: 20px;
}

.body_p, .list_items {
    text-align: left;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
}
img.logo {
    max-width: 150px;

}

.dark  {
    background-color: black;
    color: white;
    border: solid rgb(255, 255, 255) 1px;
}
.dark .subtitle{
    color: :#005EB6;
}