@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@media (max-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0 auto;

}

a:link, a:visited {
    color: var(--accent-color);
}

header {
    background-color: var(--primary-color);
}

img {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
}

.gallery {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}