:root {
    --primary-color: pink;
    --secondary-color: lightblue;
    --terciary-color: rgba(255, 255, 0, 0.548);
    --text-dark: black;
    --background-color: white;
    --primary-font: "Comic Sans MS", cursive, sans-serif;
    --secondary-font: "Moon Flower", cursive, sans-serif;

}

* {
    margin: 0 auto;
    font-family: var(--primary-font);
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-color);
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--secondary-color);

}

p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--terciary-color);
}

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 20px;
}